html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#sideDiv {
    margin-left: 200px;
    height: 100%;
}

#map {
    height: 100%;
}

#hamburger {
    font-size: 25px;
}

#myNav {
    width: 200px;
}
